body{
    background:linear-gradient(to bottom right,#22a6f0 10%,black 90%);
    min-height: 100vh;
}

.submain{
    text-align: center;
    position: fixed;
    width: 450px;
    height: 540px;
    left: 500px;
    top:80px;
    background-color:white;
    border-radius: 50px;
    opacity: 80%;
}

.r1{
    color:rgb(0, 0, 0);
    top: 80px;
    left:640px;
    position:fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.input{
    position: fixed;
    width: 500px;
    height: 20px;
    top: 150px;
    left: 600px;
}
.input-container{
    display: -ms-flexbox;
    display: flex;
    background: transparent;
    width: 100%;
    margin-bottom: 15px;
}
.input-field{
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 15px 20px;
}
.r2{
    text-align: left;
    color: rgb(0, 0, 0);
    top: 280px;
    left: 630px;
    position: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inputs{
    position: fixed;
    width: 500px;
    height: 20px;
    top: 200px;
    left: 600px;
}
.inputs-container{
    display: -ms-flexbox;
    display: flex;
    background: transparent;
    width: 100%;
    margin-bottom: 15px;
}
.inputs-field{
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 15px 20px;
}
.input1{
    position: absolute;
    width: 500px;
    height: 20px;
    top: 250px;
    left: 600px;
}
.input1-container{

    display: flex;
    background: transparent;
    width: 100%;
    margin-bottom: 15px;
}
.input1-field{
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 15px 20px;
}
.input2{
    position: absolute;
    width: 500px;
    height: 20px;
    top: 350px;
    left: 600px;
}
.input2-container{
    display: -ms-flexbox;
    display: flex;
    background: transparent;
    width: 100%;
    margin-bottom: 15px;
}
.input2-field{
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 15px 20px;
}
.input3{
    position: absolute;
    width: 500px;
    height: 20px;
    top: 400px;
    left: 600px;
}
.input3-container{
    display: -ms-flexbox;
    display: flex;
    background: transparent;
    width: 100%;
    margin-bottom: 15px;
}
.input3-field{
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 15px 20px;
}
.input4{
    position: absolute;
    width: 500px;
    height: 20px;
    top: 450px;
    left: 600px;
}
.input4-container{
    display: -ms-flexbox;
    display: flex;
    background: transparent;
    width: 100%;
    margin-bottom: 15px;
}
.input4-field{
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 15px 20px;
}
.b{
    padding: 10px 10px;
    width: 80px;
    height: 40px;
    color:rgb(1, 170, 170);
    border-radius: 8%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 90%;
    cursor: pointer;
    top: 530px;
    left: 685px;
    position: fixed;
}
